<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">Home</a>
<h1>Add Person</h1>

<form action="/addPerson" method="post">
    <label for="code">Code:</label><br>
        <input type="search" name="code">
    <br><br>
    <label for="name">First Name:</label><br>
        <input type="search" name="name">
    <br><br>
    <label for="surname">Surname:</label><br>
        <input type="search" name="surname">
    <br><br>
    <label for="description">Description:</label><br>
        <input type="search" name="description">
    <br><br>
    <label for="age">Age:</label><br>
        <input type="search" name="age">
    <br><br>
    <label for="city">City:</label><br>
        <input type="search" name="city">
    <br><br>
    <input type="submit" value="Add Person">
</form>
</body>
</html>