<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">Home</a>
<h1>Edit Person</h1>

<form action="/editPerson" method="post">
    <label for="edit_id">Person Code To Edit:</label><br>
    <input type="search" name="edit_id">
    <br><br>
    <label for="edit">New Description:</label><br>
    <input type="search" name="edit"><br><br>
    <input type="submit" value="Edit">
</form>
</body>
</html>