<!doctype html>
<html lang="en">
<head>
    <link href=
          "https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
          rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registry</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

<h1 class="text-black-600 text-5xl font-bold text-center bg-yellow-200">
    Registry
</h1>
<div class="mx-0 bg-yellow-200 grid grid-rows-0
                grid-flow-col text-justify p-4 min-h-screen">

    <a href="/person">
        <button class="btn btn-blue">
            Search Person
        </button>
    </a>

    <a href="/addPerson">
        <button class="btn btn-blue">
            Add Person
        </button>
    </a>

    <a href="/deletePerson">
        <button class="btn btn-blue">
            Delete Person
        </button>
    </a>

    <a href="/editPerson">
        <button class="btn btn-blue">
            Edit Person
        </button>
    </a>

    <a href="/login">
        <button class="btn btn-blue">
            Log In
        </button>
    </a>

</div>
</body>
</html>